.gradle/
gradle/
.idea/inspectionProfiles/
.idea/libraries-with-intellij-classes.xml
.idea/compiler.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/modules.xml
.idea/workspace.xml
.idea/**/*.iml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/libraries/
.idea/modules/
.idea/shelf/
.idea/vcs.xml
.pgpass
gradlew
gradlew.bat
